<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" th:href="@{/librarian/books}">Книги</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/librarian/authors}">Авторы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/librarian/categories}">Категории</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/librarian/publishers}">Издательства</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/librarian/inventories}">Инвентарь</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/librarian/requests}">Запросы</a>
    </li>
    <li class="nav-item">
      <form action="/logout" method="post" style="display: inline;">
        <button type="submit" class="btn btn-outline-primary border rounded">Выйти</button>
      </form>
    </li>
  </ul>
</header>
